bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea

/Dunder.Mifflin.Api/dunder-mifflin-quotes.db
/Dunder.Mifflin.Api/dunder-mifflin-quotes.db-shm
/Dunder.Mifflin.Api/dunder-mifflin-quotes.db-wal